<div id="page_wrapper">
	<div id="profile_image"><%= image_tag "logo.jpg" %></div>
	<div id="content"><br /><br />This is a simple Blog which allow users to add a post and comments. <br \> The loged-in user onle can edit,delete,add new posts. As well, only the owner of a post or a comment who can delete the post,comment. How Ever, the other can show posts and add comments.
	This is my first app using rails *_* </div>

</div>
